.rsprogress {
  width: 100%;
  height: 10px;
}
.rsprogress-wrap {
  background: #468847;
  margin-top: -5px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}
.rsprogress-bar {
  background: #ddd;
  left: 0;
  position: absolute;
  top: 0;
}

